@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300;400;500;600;700&family=Lora:ital,wght@1,400;1,500;1,600&family=Varela+Round&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff0f2 !important;
}

.post_desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  font-size: 13px;
  font-family: 'Varela Round', sans-serif;
  margin: 5px 0;
}

.LoginRegister {
  background: url("https://res.cloudinary.com/thoddusamy/image/upload/v1667303043/background_qekfmi.jpg") no-repeat center fixed;
  background-size: cover;
}